/**
 * Post.
 */

.post-page {
  margin-top: 30px;
}

.posts {
  margin-bottom: 20px;
  
  .post {
    padding: 10px 0;
    margin-bottom: 10px;

    p {
      white-space: pre-line;
    }
  }

  .author {
    color: $secondary-title-color;
  }
}